# /etc/systemd/system

[Unit]
Description=INSYS FRESH VEGETABLES
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/Desktop/INSYS/startup
WorkingDirectory=/home/pi/Desktop/INSYS
Restart=always

[Install]
WantedBy=multi-user.target
Alias=insys.service


